<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <!-- <div class="container"> -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('index') }}">VIDEANIM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ _('Idioma') }}
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('set_language', language='es') }}">{{ _('Español') }}</a>
                                <a class="dropdown-item" href="{{ url_for('set_language', language='eu_ES') }}">{{ _('Euskera') }}</a>
                                <a class="dropdown-item" href="{{ url_for('set_language', language='en') }}">{{ _('Inglés') }}</a>
                              </div>
                          </li>
                      </ul>
                    </div>
                
                  <ul class="navbar-nav ml-auto">
                    {% if index is sameas true %}
                      {% if owner is sameas true %}
                        <button type="button" class="btn btn-dark"><a class="nav-link" href="login">{{ _('Iniciar sesión') }}</a></button>
                        <button type="button" class="btn btn-dark"><a class="nav-link" href="register">{{ _('Registro') }}</a></button><span>&nbsp</span>
                      {% endif %}
                    {% elif show_product is sameas true %}
                        <button type="button" class="btn btn-dark"><a class="nav-link" href="{{ url_for('listProducts', nombre_tienda=nombreTienda) }}">{{ _('Volver') }}</a></button>
                    {% else %}
                        <button type="button" class="btn btn-dark"><a class="nav-link" href="{{ url_for('index') }}">{{ _('Volver') }}</a></button>
                    {% endif %}
                    <span>&nbsp</span>
                    
                  </ul>
                </div>
            </nav>
        <!-- </div> -->
        {% block content %}{% endblock %}

    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% if error is defined or msg is defined %}
      <script type="text/javascript">
        $(document).ready(function(){
          $("#exampleModal").modal('show');
        });
      </script>
    {% endif %}
    
</html>